
::-webkit-scrollbar {
    display: none;
}

.settings-panel{
    display: block;
    margin-top: 4rem;
    justify-content: space-around;

}

.settings-panel > button {
    width: 100%;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    text-align: left;
    display: block;

}

.current-setting {
    background-color: #5ea6fc;
    color: #ffffff;
}

.active-setting {
    width: 80%;
    background-color: #5ea6fc;

    overflow: hidden;
    text-align: left;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: .6rem;
    border-radius: 2px;
    border: 1px solid #5ea6fc;
}

.nonactive-setting {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    overflow: hidden;
    font-weight: 600;
    margin-bottom: .6rem;
    border-radius: 2px;

}


