
.TaskCard-title,TaskCard-subtitle{
 display:flex;
 justify-content: space-between;
 margin-left: 16rem;
 margin-top:2rem;
}
.TaskCard-subtitle{
 margin-left: 17rem;
 margin-top:1rem;
 color: rgb(78, 78, 78);
}
.line{
 border:0.5px solid rgb(163, 163, 163);
 margin-left:2rem;
 margin-right:2rem;
 margin-top:2rem;
}

.pr-photo{
    width:1rem;
    height:1px; 
    margin-left: 1rem;
    margin-top: 1rem;
}
.profilinfo{
    margin-bottom:1rem;
}
.offers {
  display: flex;
  justify-content: space-between;
  margin: 0.1rem 11rem 1rem 11rem;
}
.detail{
    font-size: 20px;
    margin-left:4rem;
    color:rgb(78, 78, 78);
    border:12px solid rgb(238, 238, 238);
    padding:5px;
}
.detail:hover{
    background-color:rgb(1, 141, 1);
    border-radius:15px;
    color:white;
    font-weight: bold;   
}
.predlojeniya{
    font-size:20px;
    margin-right:4rem;
    color: rgb(78, 78, 78);
    border:12px solid rgb(238, 238, 238);
    padding:5px;
}
.predlojeniya:hover{
    background-color:rgb(1, 141, 1);
    border-radius:15px;
    color:white;
}
.name2{
    color:rgb(94, 92, 92);
}
.ratingfrilansers{
    margin-left:10%;
   margin-bottom:1rem;
}
.border{
    border-radius: 20px;
    border: 2px solid rgb(139, 33, 33);
    margin: 1rem 1rem 1rem 1rem;
}
.rating {
    margin-bottom: 10px;
    width: 200px;
    cursor: pointer;
}
.star {
    margin-bottom: 0.3rem;
    width: 25px;
    height: 25px;
    margin-right: 0.8rem;
}
.starnumber {
    font-size: 0.9rem;
    font-weight: 400;
}
.money {
    display: flex;
    width:100%;
    font-size:15px;
    font-weight:700;
    margin-left:2%;
    margin-bottom:10px;
}
.skills{
    display:flex;
    width:90%;
    font-size:12px;
    font-weight: 400;
    margin-left:2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(94, 92, 92);
}
.offers2 {
    display: flex;
    justify-content: space-between;
    margin: 1rem 18rem 1.5rem 1rem;
  }
 
.detail2{
    font-size: 13px;
    color:rgb(94, 92, 92);
    font-weight: 400;
    border:1px solid rgb(150, 155, 150);
    padding:4px;
    border-radius:4px;

}
.detail2:hover{
    background-color:rgb(238, 238, 238);
    border-radius:4px;
    color:rgb(90, 205, 94);
    border:1px solid rgb(90, 205, 94);
    cursor: pointer;
}
.detail3{
    font-size: 13px;
    color:rgb(94, 92, 92);
    font-weight: 400;
    border:1px solid rgb(150, 155, 150);
    padding:4px;
    border-radius:4px;

}
.detail3:hover{
    background-color:rgb(238, 238, 238);
    border-radius:4px;
    color:rgb(64, 180, 250);
    border:1px solid rgb(64, 180, 250);
    cursor: pointer;
     
}
.detail4{
    font-size: 13px;
    color:rgb(94, 92, 92);
    font-weight: 400;
    padding:4px;
}
.detail4:hover{
    background-color:rgb(238, 238, 238);
    border-radius:4px;
    color:rgb(243, 12, 12);
    cursor: pointer;
}