 a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

 .main-nav {
     background-color: #0f1723;
     height: 60px;
 }

 .navbar-nav {
     font-size: 1.8rem;
     width: 100%;
     text-decoration: none;
     color: lightgray;
     font-weight: 600;

 }


 .nav-profile {
     font-size: 1.4rem;
     margin-left: 5%;
    justify-content: right;
     cursor: pointer;
 }

 .flag-container {
     margin-left: 50%;
     margin-bottom: 5px;
     width: 100px;
     cursor: pointer;
 }

 .flag {
     margin-bottom: 0.5rem;
     width: 40px;
     height: 40px;
     margin-right: 0.8rem;
 }


 .language {
     font-size: 1.4rem;
     font-weight: 400;
     padding-bottom: 0.5rem;
     margin-bottom: 20px;
 }

 .profile-dropDown {
     position: absolute;
     font-weight: 300;
     color: #000000;
     display: flex;
     z-index: 5;
     flex-direction: column;
     font-size: 16px;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     border: 1px solid #bababa;
     background-color: #ffffff;
     width: 140px;
 }

 .dropDown-item {
     background-color: #ffffff;
     color: #000000;
     font-weight: 400;
     border-bottom: 1px solid #bababa;
     padding-left: .7rem;
 }

 .dropDown-item > a {
     color: #000000;
 }

