
.TaskCard-title,.TaskCard-subtitle{
 display:flex;
 justify-content: center;
 text-align: center;
 margin-top:2rem;
 font-size:1.3rem;
}
.TaskCard-subtitle{
font-size:1.1rem;
 margin-top:1rem;
 color: #383838;
}
.line{
 border:0.5px solid #A3A3A3;
 margin-left:2rem;
 margin-right:2rem;
 margin-top:2rem;
}
.pr-photo{
    width:1rem;
    height:1px; 
    margin-left: 1rem;
    margin-top: 1rem;
}
.profilinfo{
    margin-bottom:1rem;
}
.offers {
    display: flex;
    justify-content: center;
    margin: 0.1rem 10rem 1rem 13rem;
}

.detail{
    font-size: 17px;
    margin-right:2rem;
    color:#4E4E4E;
    border:12px solid #FFFFFF;
    padding:4px;
    cursor: pointer;
}
.detail:hover{
    background-color: #04bf10;
    border-radius:15px;
    color:#FFFFFF; 
}
.predlojeniya{
    font-size:17px;
    margin-right:2rem;
    color: #4E4E4E;
    border:12px solid #fffefe;
    padding:4px;
    cursor: pointer;
}
.predlojeniya:hover{
    background-color: #04bf10;
    border-radius:15px;
    color:#FFFFFF; 
}
.name{
    margin-left:0.5rem;
}
.name2{
    color:#5E5C5C;
    margin-left:0.5rem;
}
.ratingfrilansers{
    margin-left:4rem;
    margin-bottom:1rem;
}
.border{
    border-radius: 20px;
    border: 2px solid #8B2121;
    margin: 1rem 1rem 1rem 1rem;
}
.rating {
    margin-bottom: 5px;
    width: 200px;
    margin-left:0.5rem;
    display:flex;
}
.starnumber {
    font-weight: 500;
    margin-left:0.5rem;
    display:flex;
    font-size:12px;
    margin-top:0.1rem;
}
.money {
    display: flex;
    width:100%;
    font-size:15px;
    font-weight:700;
    margin-left:2%;
    margin-bottom:10px;
    
}
.skills{
    display:flex;
    width:90%;
    font-size:12px;
    font-weight: 400;
    margin-left:2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#5E5C5C;
}
.offers2 {
    display: flex;
    justify-content: space-between;
    margin: 1rem 18rem 1.5rem 1rem;
  }
 
.detail2{
    font-size: 13px;
    color:#5E5C5C;
    font-weight: 400;
    border:1px solid #969B96;
    padding:4px;
    border-radius:4px;
}
.detail2:hover{
    background-color:#ffff;
    border-radius:4px;
    color:#5ACD5E;
    border:1px solid #5ACD5E;
    cursor: pointer;
}
.detail3{
    font-size: 13px;
    color:#5E5C5C;
    font-weight: 400;
    border:1px solid #969B96;
    padding:4px;
    border-radius:4px;
}
.detail3:hover{
    background-color:#ffff;
    border-radius:4px;
    color:#40B4FA;
    border:1px solid #40B4FA;
    cursor: pointer;
}
.detail4{
    font-size: 13px;
    color:#5E5C5C;
    font-weight: 400;
    padding:4px;
}
.detail4:hover{
    background-color:#ffff;
    border-radius:4px;
    color:#F31616;
    cursor: pointer;
}
.next-page{
    justify-content: center;
    text-align:center;
}
.next-page a {
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    margin:0.5rem;
    color:#383838;
    border:2px;
  }
  .next-page a:hover{
      border:2px;
      background-color: #04bf10;
      border-radius:2px;
    
  }
  .next-page ,.previous {
    color:#383838;
  }
  .next-page ,.next {
    color:#383838;
  }
  