.TaskView-title{
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top:2rem;
    font-size:1.3rem;
    color:#3A3A3A;
   }
   .TaskView-subtitle{
    display:flex;
    justify-content:center;
    text-align:center;
    font-size:1.1rem;
    margin-top:1rem;
    color: #4E4E4E;
   }
   .TaskView-subtitle2{
    display:flex;
    justify-content:center;
    text-align: center;
    margin-top:1rem;
    font-size:1.1rem;
    color: #3A3A3A;
    
   }
   .line{
    border:0.5px solid #A3A3A3;
    margin-left:2rem;
    margin-right:2rem;
    margin-top:2rem;
   }

   .pr-photo{
       width:1rem;
       height:1px; 
       margin-left: 1rem;
       margin-top: 1rem;
   }
   .viewborder{
    margin-bottom:1rem;
    margin-left:1rem; 
   }
   .viewprofilinfo{
       margin-bottom:1rem;
     
   }
   .viewoffers {
     display: flex;
     justify-content: center;
     margin: 0.1rem 10rem 1rem 13rem;
   }
   .viewdetail{
       font-size: 17px;
       margin-right:2rem;
       color:#4E4E4E;
       border:12px solid #ffff;
       padding:4px;
       cursor: pointer;
   }
   .viewdetail:hover{
       background-color: #04bf10;
       border-radius:15px;
       color:#ffff;     
   }
   .viewpredlojeniya{
       font-size:17px;
       margin-right:2rem;
       color: #4E4E4E;
       border:12px solid #fffefe;
       padding:4px;
       cursor: pointer;
       
   }
   .viewpredlojeniya:hover{
    background-color: #04bf10;
       border-radius:15px;
       color:#ffff;
   }
   .name2{
       color:#5E5C5C;
   }
   .ratingfrilansers{
       margin-left:10%;
      margin-bottom:1rem;
   }
   
   .viewrating {
    margin-bottom: 5px;
    width: 200px;
    margin-left:0.5rem;
    display:flex;
   }
   
   
   .viewstarnumber {
    font-weight: 500;
    margin-left:0.5rem;
    display:flex;
    font-size:12px;
    margin-top:0.1rem;
       
   }
   .money {
       display: flex;
       width:100%;
       font-size:15px;
       font-weight:700;
       margin-left:2%;
       margin-bottom:10px;
   }
 
   .deadline {
    display: flex;
    width:100%;
    font-size:15px;
    font-weight:700;
    margin-left:2%;
}
   .skills{
       display:flex;
       width:90%;
       font-size:12px;
       font-weight: 400;
       margin-left:2%;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color:#5E5C5C;
   }
   .doctype{
    display:flex;
    width:90%;
    font-size:12px;
    font-weight: 400;
    margin-left:2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#2E79C4;
}
   .viewcategory {
       display: flex;
       justify-content: space-between;
       margin: 1rem 31rem 0.5rem 1rem;
     }
    
   .veb {
       font-size: 12px;
       color:#5E5C5C;
       font-weight: 400;
       border:1px solid #969B96;
       padding:4px;
       border-radius:4px;
   
   }
   .veb:hover{
       background-color:#ffff;
       border-radius:4px;
       color:#5ACD5E;
       border:1px solid #5ACD5E;
       cursor: pointer;
   }
   .front{
       font-size: 13px;
       color:#5E5C5C;
       font-weight: 400;
       border:1px solid #969B96;
       padding:4px;
       border-radius:4px;
   
   }
   .front:hover{
       background-color:#ffff;
       border-radius:4px;
       color:#40B4FA;
       border:1px solid #40B4FA;
       cursor: pointer;
        
   }
   .описание{
    margin-left:2rem; 
   }
   .описание >span{
      font-size:15px;
      font-weight: 700;
   }
   .бордерописание{
    width: 97%;
    margin:  0.7rem 0rem 0rem 0rem;
    overflow: hidden;
    height: 105px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
   
   }

.viewcategory2,.viewcategory3 {
    display: flex;
    justify-content: space-between;
    margin: 1rem 32rem 0.5rem 0rem;
  }
.сроктехт,.сроктехт1 {
    font-size: 12px;
    color:#5E5C5C;
    font-weight: 400;
    border:1px solid #969B96;
    height: 35px;
    border-radius:4px;
    width:10rem;
}
.месяцах,.месяцах1{
    font-size: 13px;
    color:#5E5C5C;
    font-weight: 400;
    border:1px solid #969B96;
    border-radius:4px;
    width:5rem;
    height: 35px;
}
.Отправить{
    font-size: 17px;
    color:#3A3A3A;
    border:12px solid #ffff;
    padding:4px;
    margin-left:1rem;
    cursor: pointer;
}
.Отправить:hover{
background-color: #04bf10;
 border-radius:15px;
 color:#ffff; 
 width:120px;
}